
<app-navigation> </app-navigation>

<div class="container p-4" >  
  <router-outlet></router-outlet>
</div>


  


<!--The content below is only a placeholder and can be replaced.-->
 <!-- 
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!</h1>
  </div>
<hr>

<nav>
  <a [routerLink]="['/pagina-principal']" [routerLinkActive]="['activado']">
    home
    -
  </a>
  <a [routerLink]="['/fruta']"  [routerLinkActive]="['activado']">
      Fruta
      -
  </a>
  <a [routerLink]="['/empleado']"  [routerLinkActive]="['activado']"> 
      empleado
      -
  </a>
  <a [routerLink]="['/contacto']"  [routerLinkActive]="['activado']"> 
    contacto
    -
</a>
<a [routerLink]="['/coches']"  [routerLinkActive]="['activado']"> 
  coches
  -
</a>
</nav>
<hr>
-->
<!-- <fruta> </fruta>
<empleado-tag></empleado-tag>
-->
<router-outlet></router-outlet>
